<%- include('./module/header') %>
<link rel="stylesheet" type="text/css" href="/dist/<%-template%>.css">
<div class = 'main-module'>
   <div id = 'mod-<%-template%>'></div>
</div>
<%- include('./module/footer')%>
<script src="/dist/common.js"></script>
<script src="/dist/<%-template%>.js"></script>
